
<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer"%>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Property Name="Table" Type="SchemaExplorer.TableSchema" Optional="True"%>
<%@ Property Name="NameSpace" Type="System.String" Default="com.xcd.xchd" %>

<script runat="template">
public Dictionary<string, string> InitPrefix() {
    Dictionary<string, string> dic = new Dictionary<string, string>();
    dic["t_"] = "";
    dic["c_"] = "";
    return dic;
}

// My methods here.
public String ConvertTableCamel(String tableName) {
    Dictionary<string, string> prefix = InitPrefix();
    string prefixStr = null;
    foreach (string key in prefix.Keys) {
        if (tableName.StartsWith(key)) {
            prefixStr = key;
            break;
        }
    }
    if (!String.IsNullOrEmpty(prefixStr)) {
        tableName = tableName.Substring(prefixStr.Length, tableName.Length - prefixStr.Length).Trim('_');
    }
    StringBuilder builder = new StringBuilder();
    bool needUpper = true;
    int i = 0;
    foreach (char ch in tableName) {
        if (i == tableName.Length - 1) {
            int parse = -1;
            if (!int.TryParse(ch.ToString(), out parse)) {
                builder.Append(ch.ToString());
            }
        } 
        else if (needUpper) {
            builder.Append(ch.ToString().ToUpper());
            needUpper = false;
        }
        else if (ch.Equals('_')) {
            needUpper = true;
        } else {
            builder.Append(ch.ToString());
        }
        i++;
    }
    return builder.ToString();
}
public String ConvertColumnCamel(String tableName) {
    StringBuilder builder = new StringBuilder();
    bool needUpper = false;
    int i = 0;
    foreach (char ch in tableName) {
        if (i == tableName.Length - 1) {
            int parse = -1;
            builder.Append(ch.ToString());
        } 
        else if (needUpper) {
            builder.Append(ch.ToString().ToUpper());
            needUpper = false;
        }
        else if (ch.Equals('_')) {
            needUpper = true;
        } else {
            builder.Append(ch.ToString());
        }
        i++;
    }
    return builder.ToString();
}

public string ConvertColumnType(DbType type) {
    string typeName = "String";
    switch (type) {
        case DbType.Int16:
        case DbType.Int32:
        case DbType.Int64:
        case DbType.Boolean:
        case DbType.UInt16:
        case DbType.UInt32:
        case DbType.UInt64:
        case DbType.SByte:
            typeName = "Integer";
            break;
        case DbType.String:
            typeName = "String";
            break;
        case DbType.DateTime:
        case DbType.Date:
            typeName = "Date";
            break;
        case DbType.Decimal:
            typeName = "BigDecimal";
            break;
    }
    return typeName;
}
</script>
package <%=NameSpace%>.request;

import com.baomidou.mybatisplus.annotations.TableField;
import com.baomidou.mybatisplus.annotations.TableId;
import com.baomidou.mybatisplus.annotations.TableName;
import com.baomidou.mybatisplus.enums.IdType;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.io.Serializable;
import java.util.Date;

/**
* <%=Table.Description %>
* @author: codesmith
**/
@Data
public class Save<%=ConvertTableCamel(Table.Name)%>Request implements Serializable {
    <% for (int i = 0; i < Table.Columns.Count;i++) {%>
        /**
        * <%=Table.Columns[i].Description%>
        **/
        private <%=ConvertColumnType(Table.Columns[i].DataType) %> <%=ConvertColumnCamel(Table.Columns[i].Name) %>;
    <%} %>
}