<%@ Template Language="C#" TargetLanguage="Java" Encoding="UTF-8" ResponseEncoding="UTF-8"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer"%>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Property Name="ServiceTable" Type="DataTable" Optional="True"%>
<%@ Property Name="NatureTable" Type="DataTable" Optional="True"%>
<%@ Property Name="MenuId" Type="Int16" Optional="True"%>


<script runat="template">
// My methods here.
public String ConvertTableCamel(String tableName) {
    if (tableName.StartsWith("t_")) {
        tableName = tableName.TrimStart('t','_').TrimEnd('_');
    }
    if (tableName.StartsWith("p_")) {
        tableName = tableName.TrimStart('p','_').TrimEnd('_');
    }
    StringBuilder builder = new StringBuilder();
    bool needUpper = true;
    int i = 0;
    foreach (char ch in tableName) {
        if (i == tableName.Length - 1) {
            int parse = -1;
            if (!int.TryParse(ch.ToString(), out parse)) {
                builder.Append(ch.ToString());
            }
        } 
        else if (needUpper) {
            builder.Append(ch.ToString().ToUpper());
            needUpper = false;
        }
        else if (ch.Equals('_')) {
            needUpper = true;
        } else {
            builder.Append(ch.ToString());
        }
        i++;
    }
    return builder.ToString();
}
public String ConvertColumnCamel(String tableName) {
    if (tableName.StartsWith("t_")) {
        tableName = tableName.TrimStart('t','_').TrimEnd('_');
    }
    if (tableName.StartsWith("p_")) {
        tableName = tableName.TrimStart('p','_').TrimEnd('_');
    }
    StringBuilder builder = new StringBuilder();
    bool needUpper = false;
    int i = 0;
    foreach (char ch in tableName) {
        if (i == tableName.Length - 1) {
            int parse = -1;
            builder.Append(ch.ToString());
        } 
        else if (needUpper) {
            builder.Append(ch.ToString().ToUpper());
            needUpper = false;
        }
        else if (ch.Equals('_')) {
            needUpper = true;
        } else {
            builder.Append(ch.ToString());
        }
        i++;
    }
    return builder.ToString();
}

public string ConvertColumnType(DbType type) {
    string typeName = "String";
    switch (type) {
        case DbType.Int16:
        case DbType.Int32:
        case DbType.Int64:
        case DbType.Boolean:
        case DbType.UInt16:
        case DbType.UInt32:
        case DbType.UInt64:
        case DbType.SByte:
            typeName = "Integer";
            break;
        case DbType.String:
            typeName = "String";
            break;
        case DbType.DateTime:
        case DbType.Date:
            typeName = "Date";
            break;
        case DbType.Decimal:
            typeName = "BigDecimal";
            break;
    }
    return typeName;
}

public string buildClassName(string name, string ext) {
    return ConvertTableCamel(name) + ext;
}

public string buildMethodName(string name, string ext) {
    return ConvertColumnCamel(name) + ext;
}

public string GetControlType(int type) {
    string result = "input";
    switch (type) {
        case 2:
            result = "date";
            break;
        case 3:
            result = "select";
            break;
        default:
            break;
    }
    return result;
}
</script>
<%
    DataRow[] listRows = ServiceTable.Select("type=0");
    DataRow[] addRows = ServiceTable.Select("type=1");
    DataRow[] editRows = ServiceTable.Select("type=2");
    DataRow[] viewRows = ServiceTable.Select("type=3");
    DataRow[] auditRows = ServiceTable.Select("type=4");
    DataRow[] deleteRows = ServiceTable.Select("type=5");
    DataRow[] hisRows = ServiceTable.Select("type=6");
    Dictionary<string, string> dataDic = new Dictionary<string, string>();
    DataRow[] dataDicRows = NatureTable.Select("data_dic_code is not null and data_dic_code<>''");
    foreach (DataRow mappingRow in dataDicRows) {
        if (!dataDic.ContainsKey(mappingRow["data_dic_code"].ToString())) {
            dataDic[mappingRow["data_dic_code"].ToString()] = mappingRow["data_dic_code"].ToString();
        }
    }
    bool isDetail = false;
    string parentName = "";
    if (ServiceTable.TableName.ToLower().Trim().EndsWith("detail")) {
        isDetail = true;
        parentName = ServiceTable.TableName.Replace("Detail", "");
    }
%>
<template>
<div class="client-manager-box">
    <%if (isDetail) {%>
    <<%=parentName%>Audit ref="<%=parentName%>Auditref"/>
    <%} else {%>
    <commonSearch
      ref="searchRef"
      :data="filterInfo.queryModel"
      :field-list="filterInfo.queryModelType"
      :list-type-info="listTypeInfo"
      :count="filterInfo.count"
      :catalogProductFlag="false"
      :exportBtnFlag="false"
      :remote="true"
      class="creditRecordSearchBar"
      @handleFilter="list"
      @handleReset="handleReset"
    />
    <%}%>
    <commonTable
      :columns="columns"
      :data="tableData"
      :pager="page"
      ButtonTitle="新增"
      :paginationBoxReflow="paginationBoxReflow"
      :total="page.total"
      @handleSizeChange="handleSizeChange"
      @handleCurrentChange="handleCurrentChange"
      @handleAdd="doAdd"
    >
        <el-table-column
        slot="table_oper"
        align="center"
        label="操作"
        width="160"
        :resizable="false"
      >
        <template slot-scope="scope">
          <div class="operationBtn">
            <%if (viewRows != null && viewRows.Length > 0) {%>
            <a class="operationBtn_span" @click="doView(scope.$index, scope.row)">详细</a>
            <%} %>
            <%if (editRows != null && editRows.Length > 0) {%>
            <a class="operationBtn_span" @click="doEdit(scope.$index, scope.row)" v-if="!scope.row.isEditor">编辑</a>
            <a class="operationBtn_span" @click="doSave(scope.$index, scope.row)" v-if="scope.row.isEditor">保存</a>
            <a class="operationBtn_span" @click="cancelEdit(scope.$index, scope.row)" v-if="scope.row.isEditor">取消</a>
            <%} %>
            <%if (auditRows != null && auditRows.Length > 0) {%>
            <a class="operationBtn_span" @click="doAudit(scope.$index, scope.row)">审核</a>
            <%} %>
            <%if (deleteRows != null && deleteRows.Length > 0) {%>
            <a class="operationBtn_span" @click="doDelete(scope.$index, scope.row)">删除</a>
            <%} %>
            <%if (hisRows != null && hisRows.Length > 0) {%>
            <a class="operationBtn_span" @click="doHistory(scope.$index, scope.row)">历史</a>
            <%} %>
          </div>
        </template>
      </el-table-column>
    </commonTable>
    
    <%if (addRows != null && addRows.Length > 0) {
    %><%="<" + buildClassName(addRows[0]["service_code"].ToString(),addRows[0]["action_mapping"].ToString())%> ref="<%=buildMethodName(addRows[0]["service_code"].ToString(),addRows[0]["action_mapping"].ToString())%>Ref" @onRefresh="refresh"/> <%} %>
    <%if (viewRows != null && viewRows.Length > 0) {
    %><%="<" + buildClassName(viewRows[0]["service_code"].ToString(),viewRows[0]["action_mapping"].ToString())%> ref="<%=buildMethodName(viewRows[0]["service_code"].ToString(),viewRows[0]["action_mapping"].ToString())%>Ref"/><%} %>
    <%if (editRows != null && editRows.Length > 0) {
    %><%="<" + buildClassName(editRows[0]["service_code"].ToString(),editRows[0]["action_mapping"].ToString())%> ref="<%=buildMethodName(editRows[0]["service_code"].ToString(),editRows[0]["action_mapping"].ToString())%>Ref" @onRefresh="refresh"
    <%  DataTable editnatures = editRows[0]["natures"] as DataTable;
        DataRow[] editDicRows = editnatures.Select("data_dic_code is not null and data_dic_code<>''"); 
        foreach (DataRow row in editDicRows) {%>
        :<%=row["data_dic_code"].ToString()%>="<%=buildMethodName(row["data_dic_code"].ToString(), "") %>"
        <%}%>
    /><%
    } %>
</div>
</template>
<script>
import commonTable from '@/components/commonTable/commonTable'
import commonSearch from '@/components/commonSearch/commonSearch'
import api from "@/api/<%=ServiceTable.TableName%>.js"
import service from "@/api/pc_service.js"
import dataDicApi from "@/api/datadic.js"
<%if (viewRows != null && viewRows.Length > 0) {%>
import <%=buildClassName(viewRows[0]["service_code"].ToString(),viewRows[0]["action_mapping"].ToString())%> from '@/views/view/<%=buildClassName(viewRows[0]["service_code"].ToString(),viewRows[0]["action_mapping"].ToString())%>.vue'<%
} %>
<%if (addRows != null && addRows.Length > 0) {%>
import <%=buildClassName(addRows[0]["service_code"].ToString(),addRows[0]["action_mapping"].ToString())%> from '@/views/edit/<%=buildClassName(addRows[0]["service_code"].ToString(),addRows[0]["action_mapping"].ToString())%>.vue'<%
} %>
<%if (editRows != null && editRows.Length > 0) {%>
import <%=buildClassName(editRows[0]["service_code"].ToString(),editRows[0]["action_mapping"].ToString())%> from '@/views/edit/<%=buildClassName(editRows[0]["service_code"].ToString(),editRows[0]["action_mapping"].ToString())%>.vue'<%
} %>
<%if (hisRows != null && hisRows.Length > 0) {%>
import <%=buildClassName(hisRows[0]["service_code"].ToString(),hisRows[0]["action_mapping"].ToString())%> from '@/views/his/<%=buildClassName(hisRows[0]["service_code"].ToString(),hisRows[0]["action_mapping"].ToString())%>.vue'<%
} %>
<%if (isDetail) {%>
import <%=parentName %>Audit from '@/views/audit/<%=parentName %>.vue'
<%}%>
export default {
    name: "<%=ServiceTable.TableName%>",
    components: {
        commonTable,
        commonSearch,
        <%if (viewRows != null && viewRows.Length > 0) {
        %><%=buildClassName(viewRows[0]["service_code"].ToString(),viewRows[0]["action_mapping"].ToString())%>,<%
        } %>
        <%if (addRows != null && addRows.Length > 0) {
        %><%=buildClassName(addRows[0]["service_code"].ToString(),addRows[0]["action_mapping"].ToString())%>,<%
        } %>
        <%if (editRows != null && editRows.Length > 0) {
        %><%=buildClassName(editRows[0]["service_code"].ToString(),editRows[0]["action_mapping"].ToString())%>,<%
        } %>
        <%if (hisRows != null && hisRows.Length > 0) {
        %><%=buildClassName(hisRows[0]["service_code"].ToString(),hisRows[0]["action_mapping"].ToString())%>,<%
        } %>
        <%if (isDetail) {%>
        <%=parentName %>Audit,
        <%} %>
    },
    props: {
    },
    data() {
        return {
            filterInfo: {
                queryModel: {
                },
                queryModelType: [
                ],
                /**搜索/重置区域是否隐藏 */
                btnHidden: true,
                /**组件尺寸 */
                // size: 'small',
                /**默认展示搜索条件 */
                count: 3,
                /**label/item 宽度 */
                width: {
                  labelWidth: 110,
                  itemWidth: 220
                },
            },
            columns: [
            ],
            tableData: [
            ],
            
            deleteVisible: false,
            canEdit: true,
            editList: [],
            auditVisible: false,
            listTypeInfo: {
            },
            <%foreach (var key in dataDic.Keys) {%>
            <%=buildMethodName(key, "")%>: [],
            <%=buildMethodName(key, "")%>_map: {},
            <%} %>
            page: {
                page: 1,//当前页
                pageSize: 10,//当前显示页数
                sizes: [10, 20, 30, 40],//分页条数设置
                total: 0//总页数
              },//表格中的分页
            paginationBoxReflow: true,
            editObj: {
            },
            fullServiceInfo: {
            },
            detailPage: '<%=ServiceTable.TableName%>Detail',
        }
    },
    mounted() {
        this.init();
        this.list();
    },
    watch: {
        "$route": {
            handler(route) {
                
            }
        }
    },
    methods: {
        doDelete(index, row) {
            this.$confirm('确认删除？').then(_ => {
            <%if (deleteRows != null && deleteRows.Length > 0) {%>
                api.<%=buildMethodName(deleteRows[0]["service_code"].ToString(), deleteRows[0]["action_mapping"].ToString()) %>(row).then(t=>{
                    if (t.code != 200) {
                        return;
                    }
                    //弹出确认框
                    this.$message('删除成功！');
                    this.refresh();
                });
            <%}%>
            })
              .catch(_ => {});
        },
        doView(index, row) {
            <%if (viewRows != null && viewRows.Length > 0) {%>
            this.$refs.<%=buildMethodName(viewRows[0]["service_code"].ToString(),viewRows[0]["action_mapping"].ToString())%>Ref.show(row);
            <%} %>
        },
        doEdit(index, row) {
            <%if (editRows != null && editRows.Length > 0) {
                DataRow row = editRows[0];
                int? canEdit = row["can_edit"] as int?;
                if (canEdit == 1) {%>
            this.editObj = JSON.parse(JSON.stringify(row));
            row.isEditor = true;
            <%  } else if  (auditRows!=null && auditRows.Length > 0) {%>
                this.doAudit(index, row);
            <%  } else {%>
            this.$refs.<%=buildMethodName(editRows[0]["service_code"].ToString(),editRows[0]["action_mapping"].ToString())%>Ref.show(row);
            <%} 
            }%>
        },
        cancelEdit(index, row) {
            row = JSON.parse(JSON.stringify(this.editObj));
            this.editObj = {};
            row.isEditor = false;
        },
        doAudit(index, row) {
            <%if (auditRows!=null && auditRows.Length > 0) {
            %>
            this.$router.push({
                name: this.detailPage,
                params: {
                    row: row,
                },
            });
            <%}%>
        },
        doSave(index, row) {
            <%if (editRows != null && editRows.Length > 0) {
                DataRow row = editRows[0];%>
            api.<%=buildMethodName(row["service_code"].ToString(), row["action_mapping"].ToString()) %>(row).then(t=> {
                if (t.code != 200) {
                    return;
                }
                this.row.isEditor = false;
                this.$message('保存成功！');
            });
            <%}%>
        },
        doAdd() {
            <%if (addRows != null && addRows.Length > 0) {%>
            this.$refs.<%=buildMethodName(addRows[0]["service_code"].ToString(),addRows[0]["action_mapping"].ToString())%>Ref.show(null);
            <%} %>
        },
        doHistory(index, row) {
            <%if (hisRows != null && hisRows.Length > 0) {%>
            this.$refs.<%=buildMethodName(hisRows[0]["service_code"].ToString(),addRows[0]["action_mapping"].ToString())%>Ref.show(this.row);
            <%} %>
        },
        list() {
            this.innerList(1);
        },
        refresh() {
            this.innerList(this.page.page);
        },
        innerList(currentPage) {
            this.page.page = currentPage;
            <%if (listRows != null && listRows.Length > 0) {%>
            api.<%=buildMethodName(listRows[0]["service_code"].ToString(), listRows[0]["action_mapping"].ToString()) %>({...this.$refs.searchRef.defaultData, pagenum: this.page.page, pagesize: this.page.pageSize}).then(t=>{
                if (t.code != 200) {
                    return;
                }
                this.tableData = t.data;
                for (var i = 0; i < this.tableData.length; i++) {
                    this.tableData[i].isEditor = false;
                }
                if (t.data.length > 0) {
                    this.page.total = parseInt(t.data[0].wrowcount);
                }
            });
            <%}%>
            
        },
        handleSizeChange(pageSize) {
            this.page.pageSize = pageSize;
            this.list();
        },
        handleCurrentChange(index) {
            this.innerList(index);
        },
        openAudit(row) {
        },
        closeAudit() {
        },
        handleReset() {
            for (var p in this.queryModel) {
                this.queryModel[p] = "";
            }
        },
        init() {
            <%if (listRows.Length > 0) {%>
            service.getFullServiceInfo({serviceCode: '<%=listRows[0]["service_code"].ToString()%>', actionMapping: '<%=listRows[0]["action_mapping"].ToString()%>', menuId: <%=MenuId%>}).then(t=> {
                if (t.code != 200) {
                    return;
                }
                this.fullServiceInfo = t.data;
                this.filterInfo.queryModelType = service.genQueryModel(this.fullServiceInfo);
                this.columns = service.genColumns(this.fullServiceInfo);
                this.filterInfo.queryModel = service.getModel(this.fullServiceInfo.displayInputNatures);
            });
            <%}%>
            this.listTypeInfo = dataDicApi.getAll();
        },
    },
};
</script>

<style lang="scss" scoped>
.client-manager-box {
  .operationBtn {
    .operationBtn_span {
      margin-right: 10px;
      color: rgb(64, 158, 255);
    }
  }
}
</style>

